<div class="container">
 <div class="row justify-content-center">
  <h2 class="title mb-2">ショップ管理</h2>

  <%= render partial: 'admin/example_partial', locals: { hoge: @shop, custom_url:admin_shops_path } %>

  <div class="col-md-8 m-3 p-3 offset-md-1">
   <h5 class="title m-2 p-2 mb-0">ショップ一覧</h5>
    <% @shops.each do |shop| %>

     <table class="table hover table-inverse" style="table-layout: auto;">
      <tbody>
       <tr>
        <th scope="col"><%= shop.name %></th>
        <th scope="col"><%= link_to "編集", edit_admin_shop_path(shop.id), class: "btn btn-success" %></th>
        <th scope="col"><%= button_to "削除", admin_shop_path(shop.id), class: "btn btn-danger", method: :delete, form: { data: { turbo_confirm: "削除してよろしいですか？" } }%></th>
       </tr>
      </tbody>
     </table>
   <% end %>
  </div>
 </div>
</div>
